<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="description" content="Description">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/docsify@4/lib/themes/vue.css">
</head>
<body>
  <div id="app"></div>
  <script>
    window.$docsify = {
      name: '',
      repo: '',
      loadSidebar: true,
      vueComponents: {
        'button-counter': {
          template: `
            <button @click="count += 1">
              You clicked me {{ count }} times
            </button>
          `,
          data() {
            return {
              count: 0,
            };
          },
        },
      },
      latex: {
        inlineMath   : [['$', '$'], ['\\(', '\\)']], // default
        displayMath  : [['$$', '$$']],               // default
      }
    }
  </script>
  <!-- Docsify v4 -->
  <script src="//cdn.jsdelivr.net/npm/docsify@4"></script>
  <!-- Math formulas -->
  <script src="//cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
  <script src="//cdn.jsdelivr.net/npm/docsify-latex@0"></script>
  <button-counter></button-counter>
</body>
</html>